<div class="text-center">
    <h1>Account Information</h1>
</div>
<br><br>
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Account Username</h3>
        </div>
        <div class="panel-body text-center" ng-bind="model.user.username">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">REST API Key (keep this a secret)</h3>
        </div>
        <div class="panel-body text-center" ng-bind="model.user.apiKey">
        </div>
    </div>
</div>